<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
          body  {background: skyblue; font-family: verdana;color: #ffff; padding: 30px;}
          h1{font-size:48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
          h2{font: size 30px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
          p,li{font-size: 16px; text-align: center; }
    </style>
</head>

<body>
    <% include partials/nav.ejs %>
    <h1>welcome to the profile <%= person %></h1>
    <p><strong>Age: </strong><%= data.age %></p>
    <p><strong>Job: </strong><%= data.job %></p>
    <h2>Hobbies</h2>
    <ul>
        <% data.hobbies.forEach(function(item){ %>
         <li><%= item %></li>   
       <% }); %>

    </ul>
</body>
</html>